body {
  text-align: center;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

nav {
  display: flex;
  justify-content: space-around;
}

#rules {

}

main {
  display: flex;
  justify-content: space-evenly;
}