body {
  text-align: center;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: aqua;
  background-image: url("https://img.freepik.com/free-vector/flat-comic-style-background_23-2148882944.jpg?w=2000");
  background-position: center;
  background-repeat: no-repeat;

nav {
  display: flex;
  justify-content: space-around;
}

main {
  display: flex;
  justify-content: space-evenly;
}